@model TiendaDeDePortes.Dominio.Entities.Producto

<div class="well" id="itemwell">
    @if(Model.ImagenData != null)
    {
        <div class="pull-left" style="margin-right:10px">
            <img class="img-responsive"
                 src="@Url.Action("GetImagen", "Producto", new {Model.ProductoId})" />
        </div>
    }
    <h3>
        <strong>@Model.Nombre</strong>
        <span id="ItemBtn" class="pull-right">
            <span class="label label-primary">@Model.Precio.ToString("c")</span>
            @using (Html.BeginForm("AgregarAlCarrito", "Carrito"))
            {

                @Html.HiddenFor(x => x.ProductoId)
                @Html.Hidden("volverAUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Agregar al Carrito" />
            }
        </span>
    </h3>
    <span class="lead">@Model.Descripcion</span>
</div>